#about-card-social {
    margin-top: 30px;
}

#about-card-social a {
    color:       #5d686f;
    width:       45px;
    height:      45px;
    line-height: 45px;
    font-size:   2.7rem;
}

#about-card-social a:hover, a:active {
    text-decoration: none;
    color:           #3f3f3f;
}

@media only screen and (max-width: 767px) {
    #about #about-card #about-card-picture {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
}

@media only screen and (min-width: 768px) {
    #about #about-card #about-card-picture {
        width: 160px;
        height: 160px;
        border-radius: 80px;
    }
}